# Install latest stable versions of Python and the packages
# Reason: You need to be up-to-date with the latest Telethon library
# Note for conda users: Install telethon with pip
pymongo
telethon
# For network query
networkx
matplotlib
# For example query
pandas
# Google libraries to alarm script failure on the server
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos